.tab-content .cans{
	width:100%;
	margin:0 auto;
	/*padding:2% 3%;*/
	background:#fff;
    overflow: hidden;
}
.tab-content .cans li{
	width:100%;
	border:0;
	text-align:center;
	line-height:25px;
	border-bottom:1px solid #f5f5f5;
	position:relative;
    padding: 8px;
    height: 100px;
    /*overflow: hidden;*/

}
.cans_left,.cans_left_left{
	float:left;
    height: 80px;
    overflow: hidden;
    width: 66%;
}
.cans_left img{
    float:left;
    border: none;
    width: 30%;
}
.cans_left_left{
    text-align: left;
    padding-top: 10px;
    width: 58%;
}
.cans_left_left>span{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cans_left_top,.cans_left_bottom{
    display: block;
    padding-left: 12px;
    line-height: 30px;
    height: 30px;
}
.cans_left_top{
    color:#565a5c;
    font-size: 15px;
}
.cans_left_bottom{
	color:#b3b3b3;
}
.cans_right{
	float:right;
    width: 21%;
	/*line-height:5em;*/
}
.cans_right.thin{
    width: 31%;
    padding-right: 55px;
}
.cans_right_btns{

    position: absolute;
    top: 0;
    right: 0;
    width: 50px;

}
.cans_right_btns .edit_btn,.cans_right_btns .del_btn{
    height: 50px;
    width: 50px;
    height: 50px;   width: 50px;   margin: 0;   padding: 0;   background: transparent;   border: 1px solid #f5f5f5;
    border-top: 0;
    display: block;
}
.cans_right_btns .edit_btn{
    background: url("../images/icon_edit.png") no-repeat center center;
    background-size: 40%;
}
.cans_right_btns .del_btn{
    background: url("../images/icon_del.png") no-repeat center center;
    background-size: 40%;
    border-top: 0;
}
.tab-content .cans li .cans_right>a{
	text-decoration:none;
	color:#fff;
	background:#ff5a5f;
	width:100%;
	text-align:center;
	display:block;
	border-radius:3px;
	margin-top:22px;
    line-height: 36px;
    height: 36px;
}
.tab-content .cans li .cans_right>a.disabled{
    background: #cccccc;
}
.cans_bottom{
	margin-bottom:2em;
}
.cans_delete,.cans_delete:hover,.cans_delete:focus{
	width:100%;
	line-height:2em;
	position:fixed;
	bottom:0;
	color:#fff;
	background:#ff5a5f;
	text-decoration:none;
	text-align:center;
	outline:none;
}
.cans_left1{float:left;
           width:20em;
		   /*padding-top:10em;*/}
/*单选框样式*/
.roundedTwo {
  width: 20em;
  height: 20em;
  position: relative;
  margin: 2em auto;
  background: #ff5a5f;
  background: -moz-linear-gradient(top, #ff5a5f 0%, #ff5a5f 40%, #ff5a5f 100%);
  background: -webkit-linear-gradient(top, #ff5a5f 0%, #ff5a5f 40%, #ff5a5f 100%);
  background: linear-gradient(to bottom, #ff5a5f 0%, #ff5a5f 40%, #ff5a5f 100%);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -moz-box-shadow: inset 0px 1px 1px #ff5a5f, 0px 1px 3px rgba(255, 90, 95, 0.5);
  -webkit-box-shadow: inset 0px 1px 1px #ff5a5f, 0px 1px 3px rgba(255, 90, 95, 0.5);
  box-shadow: inset 0px 1px 1px #ff5a5f, 0px 1px 3px rgba(255, 90, 95, 0.5);
}
.roundedTwo label {
  width: 15em;
  height: 15em;
  position: absolute;
  top: 2px;
  left: 2px;
  cursor: pointer;
  background: -moz-linear-gradient(top, #ff5a5f 0%, #ff5a5f 100%);
  background: -webkit-linear-gradient(top, #ff5a5f 0%, #ff5a5f 100%);
  background: linear-gradient(to bottom, #ff5a5f 0%, #ff5a5f 100%);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -moz-box-shadow: inset 0px 1px 1px rgba(255, 90, 95, 0.5), 0px 1px 0px #ff5a5f;
  -webkit-box-shadow: inset 0px 1px 1px rgba(255, 90, 95, 0.5), 0px 1px 0px #ff5a5f;
  box-shadow: inset 0px 1px 1px rgba(255, 90, 95, 0.5), 0px 1px 0px #ff5a5f;
}
.roundedTwo label:after {
  content: '';
  width: 10em;
  height: 20em;
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  border: 5em solid white;
  border-top: none;
  border-right: none;
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -webkit-transform: rotate(-70deg);
  transform: rotate(-70deg);
}
.roundedTwo label:hover::after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
.roundedTwo input[type=checkbox] {
  visibility: hidden;
}
.roundedTwo input[type=checkbox]:checked + label:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.cans_right1{
	position:absolute;
	right:-30em;
}
.top .top_right .color{
	color:#bdc1bb;
	outline:0;
}

.cans_left_warehouse{
	position:absolute;
	left:-25em;
}
.cans_right_warehouse{
	line-height:5em;
    float:left;
	/*margin-left:50em;*/
}
.tab-content .cans li .cans_right_warehouse a{
	text-decoration:none;
	color:#fff;
	background:#ff5a5f;
	width:5em;
	line-height:2em;
	text-align:center;
	display:block;
	font-size:10em;
	border-radius:0.3em;
	margin-top:1em;
}
.cans_warehouse_right{
	background:#efeff4;
	width:60em;
	line-height:5em;
	float:right;
	display:block;
}
.tab-content .cans .cans_edit_css{
	margin-top:0;
	padding-bottom:0;
	position:relative;

}
.cans_background{
	background:#efeff4;
	padding-bottom:15em;
}
.tab-content .cans li .cans_right .cans_edit{

	display:inline-block;
	background:none;
	width:2em;
	margin-right:1em;
}
/*编辑全部*/
.cans_checkbox{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 35px;
    transform:translateX(-30px);
}
.cans_checkbox input{
    visibility: hidden;
}
.cans_checkbox label{
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    top:0;
    background: url("../images/filter_bg.png") no-repeat left center;
    background-size: 23px;
    background-position: 0px 1px;
    /*-webkit-transition: background-position 0.3s;*/
    /*transition: background-position 0.3s;*/
}
.cans_checkbox input[type='checkbox']:checked + label {
    background-position: 0 -29px;
}
.tab-content .cans li,.cans_checkbox,.cans_footer{
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}
.tab-content .cans li.del{
    -webkit-transform: translateX(30px);
    -moz-transform: translateX(30px);
    -o-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform:translateX(30px);
}
.cans_footer{
    width: 100%;
    position: fixed;
    left: 0;
    bottom: -50px;
}
.cans_footer button{
    width: 100%;
    line-height: 50px;
    background: #ff5a5f;
    border: none;
    color: #fff;
    font-size: 12px;
}
.cans_footer.show{
    bottom: -1px;
}