.change_invation{
	margin:0 auto;
	padding:0 auto;
	width:100%;
	margin-top:50px;
    font-size: 2em;
    margin-bottom: 50px;
}
.change_invation_top{
	width:100%;
	margin:0 auto;
	padding:0 auto;
}
.change_invation_top ul{
	width:100%;
	margin:0 auto;
	padding:0 auto;
}
.change_invation_top ul li{
	width:50%;
	float:left;
	list-style:none;
	text-align:center;
	/*border-left:1px solid #dadada;*/
	
}
.nav-tabs li a,.nav-tabs li a:hover{
	color:#9e9d9d;
	/*font-size:2.4em;*/
	text-decoration:none;
	display:block;
	outline:0;
	padding:0 0;
	border-radius:0;
	margin-right:0;
	line-height:45px;
    height: 45px;
	background:#fafafa;
	border-left:none;
	border-right:none;
	/*border-bottom:none;*/
	box-shadow:none;
    border-bottom:1px solid #dadada;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    color: #fff;
    background: #ff5a5f;
    border: none;
}
/*.change_invation_top ul li:active,
.change_invation_top ul li:hover,
.change_invation_top ul li:focus,
.change_invation_top ul li a:hover,
.change_invation_top ul li a:active,
.change_invation_top ul li a:focus{
	display:block;
	*//*border-bottom:1px solid #ff5a5f;*//*
	background:#fff;
}*/
.change_Panels{
	width:100%;
	margin:0 auto;
	padding:0 auto;
	text-align:center;
	background:#fff;
	margin-bottom:2%;
}
.change_title{
	width:90%;
	margin:0 5%;
	padding:0 auto;
	text-align:center;
	line-height:35px;
	height:35px;
	border-bottom:1px solid #dadada;
}
.change_title_left{
	float:left;
	
	/*font-size:5em;*/
}
.change_title_right{
	float:right;
	
	color:#B3B3B3;
	/*font-size:5em;*/
}
.change_body{
	width:90%;
	margin:0 auto;
	padding:0 auto;
	text-align:center;
	margin-top:7px;
    max-height: 80px;
    overflow-y: hidden;
	
}
@media screen and ( min-width: 768px ){
    .change_body{
        max-height: 130px;
    }
}
@media all and (orientation : landscape) {
    .change_body{
        max-height: 130px;
    }
}
.change_body1{
	width:45%;
	float:left;
	margin:0 auto;
	padding:0 auto;
	text-align:center;
	
}
.change_body2{
	width:10%;
	float:left;
	margin:0 auto;
	padding:10% 0;
	text-align:center;
	
	
}
.change_body3{
	width:45%;
	float:left;
	margin:0 auto;
	padding:0 auto;
	text-align:center;
	
}
.change_progess{
	width:95%;
	margin:0 auto;
	padding:0 auto;
	margin-top:2em;
	
}
.change_progess span{
	/*font-size:6em;*/
	color:#B3B3B3;
	display:block;
	text-align:left;
    margin-bottom: 2px;
}
.process_height{
	height:4px;
	margin-bottom:0;
}
.change_foot{
	width:100%;
	background:#fafafa;
	margin:0 auto;
	padding:5px 4%;
	text-align:center;
	border-bottom:0.1em solid #dadada;
	border-top:0.1em solid #dadada;
	margin-top:1em;
}
.change_foot span{
	/*width:100%;*/
	display:inline-block;
	/*font-size:5em;*/
	color:#565a5c;
	margin-bottom:7px;
    text-align: left;
    word-break: break-all;
    word-wrap: break-word;
}
.change_foot_body{
	width:100%;
	margin:0 auto;
	padding:0 auto;
	text-align:center;
	padding:0 5%;
}
.change_agree,.change_disagree{
    text-decoration:none;
    border-radius: 3px;
    padding: 6px 6%;
    display:inline-block;
}
.change_agree{
	color:#fff;
	background:#ff5a5f;
	display:inline-block;
	margin-right:6%;

}
.change_agree:hover,.change_agree:focus{
	color:#fff;
	text-decoration:none;
	outline:none;
}
.change_disagree{
	color:#ff5a5f;
	border:0.1em solid #ff5a5f;
}
.no_margin{
	margin-right:0;
}
.change_disagree:hover,.change_disagree:focus{
	color:#ff5a5f;
	text-decoration:none;
	outline:none;
}
.change_modal_dialog{
	width:94%;
	margin:5% 3%;
}
.change-content{
	border:none;
    border-radius: 0;
    width:100%;
}

.change_modal_header{
	/*min-height:7em;*/
	/*padding:24em 0;*/
	border-bottom:0.1em solid #e5e5e5;
}
.change_modal_title{
	/*font-size:60em;*/
	margin:0.5em 0;
}
.change_modal_footer{
	border-top:0.1em solid #e5e5e5;
	text-align:center;
    /*padding:40em 2em;*/
	width:100%;
	background:#fafafa;
}
.change_btn{
	
    /*font-size: 50em;*/
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 0.4em 2em;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
	border-radius:3px;
}
.change_certain,.change_certain:hover,.change_certain:focus{
	background:#ff5a5f;
	color:#fff;
	border-color:#ff5a5f;
	outline:none;
}
.change_cancle,.change_cancle:hover,.change_cancle:focus{
	background:#fff;
	color:#ff5a5f;
	border:0.1em solid #ff5a5f;
	outline:none;
}
.change_modal_body{
	font-size: 13px;
}
.change_modal_body_top{
	width:100%;
	margin:0 auto;
	text-align:center;
	
	border-bottom:1px solid #e5e5e5;
}
.change_modal_body_top label,.change_modal_body_bottom label{
    display:inline-block;
    width:40%;
    line-height:35px;
    text-decoration:none;
    margin-top:1.5em;
    text-align:center;
    outline:none;
    border-radius:3px;
    color:#ff5a5f;
    border:1px solid #ff5a5f;

}
.change_modal_body_top label{

	margin-bottom:1.5em;
}
.change_modal_body_bottom{
	width:100%;
	margin:0 auto;
	text-align:center;
}

.change_modal_body_top input[type='radio']:checked+label,.change_modal_body_bottom input[type='radio']:checked+label{
	color:#fff;
	background:#ff5a5f;
	/*margin-top:1.5em;*/
}
.change_modal_body_top input[type='radio']:checked+label+.question_tips,.change_modal_body_bottom input[type='radio']:checked+label+.question_tips{
    display: block;
}
.change_modal_body_bottom  > .change_modal_body_bottom_span{
	width:100%;
	margin:0 auto;
	text-align:center;
	/*font-size:90em;*/
	color:#65696a;
    margin: 3% auto;
    display: block;
}
.change_modal_body_bottom > label{
    margin: 3% 0 1% 0;
}
.change_modal_body_bottom input[type='text']{
    border: 1px solid #dadada;
    line-height: 30px;
    padding-left: 4px;
    margin-top: 5px;
    margin-left: -5px;
    /*position: relative;*/
}
.change_modal_body_bottom input+i{
    color: #dadada;
    margin-left: -20px;
}
/*.change_modal_body_bottom  > .no_top{
	margin-top:-0.5em;
	margin-bottom:1em;
}*/
.no_bottom{
	border-bottom:none;
}
.change_modal_body_top_textarea{
	width:100%;
	font-size:12px;
	border:none;
}
.change_type_offline_bottom{
    display: none;
}

.change_type_offline_bottom span{
    height: 28px;
    line-height: 28px;
    /*display: inline-block;*/
}
.change_modal_body_top label.consigneeLabel{
    width: 100%;
    margin-bottom: 0;
    text-align: left;
    border: none;
    background-image: url(../images/filter_bg.png);
    background-repeat: no-repeat!important;
    background-position: 5px 5px;
    background-size: 18px!important;
    padding-left: 28px;
    font-weight: normal;
    color: #65696a;
    height: 27px;
    line-height: 28px;
}
.change_modal_body_top input[type='radio']:checked+label.consigneeLabel,.change_modal_body_bottom input[type='radio']:checked+label.consigneeLabel{
    background-position: 5px -18px!important;
    background-image: url(../images/filter_bg.png)!important;
    background-color: transparent;
    color: #65696a;
    /*margin-top:1.5em;*/
}


.change_progess .process_height .process-bar-color{
    background:linear-gradient( left, #4fc2dc, #6459c3);
    background:-moz-linear-gradient(left, #4fc2dc, #6459c3);
    background:-webkit-linear-gradient( left, #4fc2dc, #6459c3);
}
/*新增保证金提示*/
.question_mark_tips{
    visibility: hidden;
    position: absolute;

}
.popover-content{
    z-index: 99999;
    font-size: 12px;
}
/*编辑地址入口*/
.icon_edit{
    float: right;
    width: 30px;
    margin-top: -5px;
}
.icon_edit img{
    width: 100%;
}
/*编辑物流*/
.change_modal_body h5{
    margin-top: 20px;
}