.home{
	width:100%;
	margin:0 auto;
	padding:0 auto;
	text-align:center;
	/*margin-top:50px;*/
}
.home1{
	width:90%;
	margin:0 auto;
	padding:0 auto;
	text-align:center;
	position:relative;
	margin-top:60px;
}
.home2{
	margin-top:1em;
	margin-bottom:4em;
}
.home_absolute{
	position:absolute;
	margin:0 auto;
	text-align:center;
    top: 36%;
    left: 0;
    right: 0;
    bottom: 0;
    padding-right: 5px;
}
.home_absolute span,.home_absolute p{
	color:#fff;
	font-size:2em;
}
/*@media screen and ( min-width: 480px ) {
    .home1 {
        width: 45%;
        display: inline-block;
    }
}*/
/*横屏时横向排列*/
@media all and (orientation : landscape) {
    .home1 {
        width: 45%;
        display: inline-block;
    }
}