body{
	background:#fff;
}
.select{
	width:100%;
	margin:0 auto;
	padding:2%;
	text-align:center;
	margin-top:50px;
}
.select-list{
    margin: 0;
    padding: 0;
}
.select-list:after{
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.select-list li{
    list-style: none;
    float: left;
    width: 29%;
    margin: 2%;
}
.select-list figure{
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding-bottom: 100%; /* 关键就在这里 */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.select-list figure a,.select-list figure label{
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    margin: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}
input[type='radio']:checked + label {
    background-color: rgba(0,0,0,0.4);
    background-image: url("../images/selected.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
}
/*.select-list figure a:hover,.select-list figure a:visited,.select-list figure a.mark,.select-list figure label.mark{
    background-color: rgba(0,0,0,0.4);
    background-image: url("../images/selected.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
}*/
input[type="checkbox"],input[type="radio"]  {
    visibility: hidden;
}
